.root {
  -hover-color-transparent: rgba(0, 120, 212, 0.05);
  -pressed-color-transparent: rgba(0, 120, 212, 0.2);

  -background-color: linear-gradient(#CEE1F5, #F0F2FC);
}


.background {
  -fx-background-color: -background-color;
}


.tab {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 5 0;
  -fx-text-fill: #4F4E4E;
  -fx-border-color: transparent;
}
.tab:hover {
  -fx-background-color: -hover-color-transparent;
  -fx-text-fill: #000000;
  -fx-border-color: #B6C8DE;
}
.tab:pressed {
  -fx-background-color: -pressed-color-transparent;
  -fx-text-fill: #000000;
  -fx-border-color: #6B93E3;
}
.tab.active {
  -fx-text-fill: #000000;
  -fx-border-color: #6B93E3;
}


.scroll-pane {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-padding: 0px;
}
.scroll-pane .viewport {
  -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
}
.scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-radius: 2em;
}
.scroll-pane .scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 0 10 0;
}
.scroll-pane .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 10 0 0;
}
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
  -fx-padding: -2;
}
.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}

.add-button-label {
  -fx-background-color: white;
  -fx-background-radius: 25;
  -fx-font-size: 25;
  -fx-font-weight: bold;
  -fx-border-width: 0 0 0 0;
}
.anchor-pane:hover .add-button-label {
  -fx-background-color: rgba(54, 169, 255, 0.8);
}
.add-button {
  -fx-background-color: transparent;
}

.flash-card {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-pref-width: 220;
  -fx-pref-height: 120;
  -fx-font-size: 15;
  -fx-font-weight: bold;
}
.flash-card:hover {
  -fx-background-color: rgba(165, 216, 255, 0.8);
}
.flash-card:hover .image-view {
  -fx-opacity: 0.8;
}
.flash-card .text{
  -fx-text-alignment: left;
}


.button-has-icon {
  -fx-background-color: transparent;
  -fx-background-radius: 10;
}
.anchor-pane:hover .button-has-icon {
  -fx-background-color: -hover-color-transparent;
}
.anchor-pane:pressed .button-has-icon {
  -fx-background-color: -pressed-color-transparent;
}


.image-view-button {
  -fx-opacity: 0.6;
}
.anchor-pane:hover .image-view-button {
  -fx-opacity: 1;
}